<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hydra.server.modules.platform.mapper.HumidityPandora176Mapper">
    
    <resultMap type="com.hydra.server.modules.platform.entity.HumidityPandora176" id="HumidityPandora176Result">
        <result property="id"    column="id"    />
        <result property="indexId"    column="index_id"    />
        <result property="filePath"    column="file_path"    />
        <result property="humidity"    column="humidity"    />
        <result property="time"    column="time"    />
        <result property="createdTime"    column="created_time"    />
    </resultMap>

    <sql id="selectHumidityPandora176Vo">
        select id, index_id, file_path, humidity, time, created_time from Humidity_Pandora_176
    </sql>

    <select id="selectHumidityPandora176List"  resultMap="HumidityPandora176Result">
        <include refid="selectHumidityPandora176Vo"/>
        <where>
            deleted = 0
        </where>
    </select>
    
    <select id="selectHumidityPandora176ById" parameterType="Long" resultMap="HumidityPandora176Result">
        <include refid="selectHumidityPandora176Vo"/>
        where id = #{id}
    </select>
        

</mapper>