<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hydra.server.modules.platform.mapper.PandoraMapper">
    <resultMap type="com.hydra.server.modules.platform.entity.Pandora" id="PandoraResult">
        <result property="id" column="id"/>
        <result property="fileName" column="file_name"/>
        <result property="humidity" column="humidity"/>
        <result property="time" column="time"/>
    </resultMap>

    <select id="selectPandora176List" resultMap="PandoraResult">
        select id, file_name, humidity, time from Pandora_176
        <where>
            time <![CDATA[ <= ]]> #{endTime,jdbcType=VARCHAR}
            and time <![CDATA[ >= ]]> #{startTime,jdbcType=VARCHAR}
        </where>
    </select>

    <select id="selectPandora193List" resultMap="PandoraResult">
        select id, file_name, humidity, time from Pandora_193
        <where>
            time <![CDATA[ <= ]]> #{endTime,jdbcType=VARCHAR}
            and time <![CDATA[ >= ]]> #{startTime,jdbcType=VARCHAR}
        </where>
    </select>

    <select id="selectPandora194List" resultMap="PandoraResult">
        select id, file_name, humidity, time from Pandora_194
        <where>
            time <![CDATA[ <= ]]> #{endTime,jdbcType=VARCHAR}
            and time <![CDATA[ >= ]]> #{startTime,jdbcType=VARCHAR}
        </where>
    </select>

    <select id="selectPandora197List" resultMap="PandoraResult">
        select id, file_name, humidity, time from Pandora_197
        <where>
            time <![CDATA[ <= ]]> #{endTime,jdbcType=VARCHAR}
            and time <![CDATA[ >= ]]> #{startTime,jdbcType=VARCHAR}
        </where>
    </select>

    <select id="selectPandora198List" resultMap="PandoraResult">
        select id, file_name, humidity, time from Pandora_198
        <where>
            time <![CDATA[ <= ]]> #{endTime,jdbcType=VARCHAR}
            and time <![CDATA[ >= ]]> #{startTime,jdbcType=VARCHAR}
        </where>
    </select>

    <select id="selectPandora199List" resultMap="PandoraResult">
        select id, file_name, humidity, time from Pandora_199
        <where>
            time <![CDATA[ <= ]]> #{endTime,jdbcType=VARCHAR}
            and time <![CDATA[ >= ]]> #{startTime,jdbcType=VARCHAR}
        </where>
    </select>
</mapper>