<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hydra.server.modules.platform.mapper.Pandora194Mapper">
    
    <resultMap type="com.hydra.server.modules.platform.entity.Pandora194" id="Pandora194Result">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="humidity"    column="humidity"    />
        <result property="time"    column="time"    />
    </resultMap>

    <sql id="selectHumidityPandora194Vo">
        select id, file_name, humidity, time from Pandora_194
    </sql>

    <select id="selectPandora194List"  resultMap="Pandora194Result">
        <include refid="selectHumidityPandora194Vo"/>
    </select>
    
    <select id="selectPandora194ById" parameterType="Long" resultMap="Pandora194Result">
        <include refid="selectHumidityPandora194Vo"/>
        where id = #{id}
    </select>

    <select id="selectPandoraList" resultMap="Pandora194Result">
        <include refid="selectHumidityPandora194Vo"/>
        <where>
            time &lt; #{endTime,jdbcType=VARCHAR}
            and time &gt; #{startTime,jdbcType=VARCHAR}
        </where>
    </select>
</mapper>